*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

/*navbar*/
header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    padding-left: 10px;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0,157,255),rgb(255,0,255) );
}
li a:hover::before{
    width: 100%;
}

.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0,157,255),rgb(255,0,255));
}

.visit-btn:hover{
    background: linear-gradient(to right,rgb(255,0,255), rgb(0,157,255));
    transform: scale(1.03);

}

#menu-icon{
    font-size: 2rem;
    display: none;
}

/*About*/
section{
   min-height: 100vh;
   padding: 8rem 12%;
   justify-content: center;

}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
}
.about img{
    width: 30vh;
    border-radius: 60%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;

}
.info-box h1{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;

}
.info-box span{
   background: linear-gradient(to right,rgb(255,0,255), rgb(0,157,255));
    transform: scale(1.03);
    background-clip: text;
    color: transparent;
    font-size: 2rem;

}
.about-desc{
    max-width: 650px;
    font-size: 1.05rem;
    line-height: 1.8;
    margin-top: 1rem;
    color: #555;
    text-align: center;
}
.btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor:pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
}

.socials{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 7px;
  
}
.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.socials i:hover{
    transform:scale(1.1);
}

/*skills*/
.section-title{
text-align: center;
font-size: 4rem;
font-weight: 600;
margin-bottom: 3rem;
}

.skills-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}
.grid-card{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}
.grid-card:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, #009dff,#ff00ff);
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: linear-gradient rgb(219,219,219);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #009dff,#ff00ff);
}

.projects-grid{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
gap: 2rem;
}

.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}
.project-card img{
    width: 100%;
    max-width: 250px;
    height: auto;
}
.project-card:hover .btn{
    border: 2px solid white;
    color: white;

}

.project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}

.project-card h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.project-card p{
    font-size: 0.95rem;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    text-align: center;
}


/*contact*/

.input-box{
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;

}
.input{
    position: relative;
    width: 100%;
    max-width: 500px;
}

.input input{
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;  /* space for icon */
    border-radius: 3rem;
    border: 2px solid black;
    font-size: 1rem;
}

.input input::placeholder{
    font-size: 1rem;
    color: #777;
}

.input i{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
}

.input{
    position: relative;
    width: 100%;
    max-width: 500px;
}

.input input{
    width: 100%;
    padding: 1rem 1rem 1rem 3rem; /* space for icon */
    border-radius: 3rem;
    border: 2px solid black;
    font-size: 1rem;
}

.input i{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
}
.input input:focus{
    outline: none;
    border-color: #009dff;
}

footer{
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

footer ul li a{
    color: black;
    font-weight: 600;
}

.copyright{
    font-size: 0.9rem;
    font-weight: 400;
}

/*responsiveness*/

@media(max-width:1280px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .skills-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input .input::placeholder{
        font-size: 2.5rem;
    }
    .info-box i{
        font-size: 2.5rem;
    }

}

@media(max-width:768px){
    header{
        gap:1rem;
        padding: 1rem 1rem;

    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;

    }
    .about-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;

    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .info-box i{
        display: none;

    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    section{
        padding: 6rem 5%;
    }

    .about .about-container{
        flex-direction: column;
        text-align: center;
    }

    .projects-grid{
        grid-template-columns: 1fr;
    }

    .btn-group{
        flex-direction: column;
    }
   
    
}
@media(max-width:600px){
    header #menu-icon{
display: block;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background:rgba(0,0,0,0.9);
        border-radius: 3rem;
        display: none;

    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
     .about-desc{
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    .about img{
    width: 250px;
    max-width: 100%;
}
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
font-size: 1.5rem;

    }
    .input input{
    padding: 0.8rem 0.8rem 0.8rem 2.5rem;
    font-size: 0.9rem;
}

.input input::placeholder{
    font-size: 0.9rem;
}

.input i{
    font-size: 1rem;
    left: 0.8rem;
}
    footer ul{
        gap: 1rem;
    }
     .input input{
        padding: 0.8rem 0.8rem 0.8rem 2.5rem;
        font-size: 0.9rem;
    }

    .input i{
        font-size: 1rem;
        left: 0.8rem;
    }
}